@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --dancingFont: "Dancing Script", cursive;
  --narrowfont: "PT Sans Narrow", sans-serif;
  --thickFont: "Lato", sans-serif;
  --semiThickFont: "Rubik", sans-serif;
  --gray: rgb(131, 128, 128);
  --primaryBlack: #000;
  --primaryGreen: rgb(124, 175, 124);
  --primaryblue: rgb(6, 6, 49);
  --hoverblue: rgb(72, 72, 80);
  --body: hsl(210, 12%, 90%);
  --boxShadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.75);
  --navHover: rgb(240, 165, 26);
  --linkHover: rgb(235, 182, 83);
  --whiteLight: rgb(220, 238, 235);
}

::-moz-selection {
  background-color: var(--linkHover);
}

::selection {
  background-color: var(--linkHover);
}

.section {
  margin: 5rem 5rem 0 5rem;
  min-height: 85vh;
  font-family: var(--thickFont);
}

body {
  background-color: var(--body);
  font-family: var(--narrowfont);
  position: relative;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

p {
  color: var(--gray);
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 15px 30px 15px 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--primaryblue);
  color: var(--whiteLight);
  cursor: pointer;
  font-size: 0.7rem;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  text-transform: uppercase;
  border: 1px solid black;
}

.btn:hover {
  color: var(--primaryblue);
  background-color: var(--whiteLight);
  font-weight: 600;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 5rem 0 5rem;
}

.nav-container a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav-container .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav-container .nav-left img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-container .nav-left h3 {
  font-family: var(--dancingFont);
  font-size: 1.3rem;
  font-weight: 700;
}

.nav-container .nav-right .large-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .nav-right .large-ul a {
  cursor: default;
}

.nav-container .nav-right .large-ul li {
  margin-left: 2rem;
  list-style: none;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 700;
}

.nav-container .nav-right .large-ul li:hover {
  color: var(--navHover);
}

.small-nav {
  display: none;
}

.toggle-icon {
  -webkit-transform: scale(2);
          transform: scale(2);
  display: none;
  border: none;
  background-color: var(--body);
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 992px) {
  .small-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--whiteLight);
    height: 84.5vh;
    margin-top: 6rem;
    position: absolute;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: -100%;
    -webkit-transition: 0.4s ease-in all;
    transition: 0.4s ease-in all;
    overflow: hidden;
    opacity: 0;
  }
  .small-nav .icons {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 2rem;
    margin-right: 4rem;
  }
  .small-nav .icons .icon {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    margin-left: 4rem;
  }
  .small-nav .icons .icon:hover {
    color: var(--hoverblue);
  }
  .show-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--whiteLight);
    height: 84vh;
    margin-top: 6rem;
    left: 0;
    position: absolute;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.4s all ease-in;
    transition: 0.4s all ease-in;
    overflow: hidden;
    z-index: 999;
    opacity: 1;
  }
  .toggle-icon {
    display: block !important;
    margin-top: 1rem;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .toggle-icon:hover {
    -webkit-transform: rotate(180deg) scale(2);
            transform: rotate(180deg) scale(2);
  }
  .small-ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    margin-top: 7rem;
  }
  .small-ul a {
    cursor: default;
    margin-top: -10px;
  }
  .small-ul li {
    margin: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 700;
  }
  .small-ul li:hover {
    color: var(--navHover);
  }
  .large-ul {
    display: none !important;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-left {
  -webkit-box-flex: 1.1;
      -ms-flex: 1.1;
          flex: 1.1;
  padding-top: 10rem;
}

.home-left h4 {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 900;
  margin-bottom: 20px;
}

.home-left h1 {
  font-size: 4rem;
  text-transform: capitalize;
  font-family: var(--thickFont);
  color: var(--primaryblue);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}

.home-left p {
  margin-top: 1.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
}

.home-left .btn-home {
  margin-top: 5rem;
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
}

.home-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.home-right img {
  float: right;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 1250px) {
  .home-left h4 {
    font-size: 0.6rem;
  }
  .home-left h1 {
    font-size: 3rem;
  }
  .home-left p {
    margin-top: 2rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 992px) {
  .home-right {
    display: none;
  }
  .home-left {
    padding-top: 8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .home-left h4 {
    font-size: 0.6rem;
  }
  .home-left h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .home-left p {
    margin-top: 2rem;
    font-size: 0.8rem;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-left {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.about .about-left img {
  width: 100%;
  height: 91%;
  margin-top: 2rem;
}

.about .about-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 8rem;
}

.about .about-right .about-text {
  margin-left: 7rem;
}

.about .about-right .about-text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 0.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: var(--primaryblue);
}

.about .about-right .about-text p {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 2rem;
  line-height: 2rem;
}

@media (max-width: 992px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-text {
    margin-left: 0rem !important;
  }
}

.skills {
  background-color: var(--primaryblue);
  margin: 0;
  padding: 4.7rem;
}

.skills .skills-top h3 {
  color: var(--body);
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.skills .skills-top h1 {
  font-size: 2.3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  color: var(--body);
}

.skills .skills-top p {
  margin-top: 1.2rem;
  font-size: 0.9rem;
  color: var(--gray);
  font-weight: 900;
}

.skills .skills-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 1.6rem;
}

.skills .skills-bottom .skill {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.skills .skills-bottom .skill .skills-icon {
  margin-right: 1.3rem;
  margin-top: 1.6rem;
  color: var(--body);
}

.skills .skills-bottom .skill .skills-icon:hover {
  color: var(--gray);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.skills .skills-bottom .skill h3 {
  margin-top: 13px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: var(--body);
}

.skills .skills-bottom .skill h3:hover {
  color: var(--gray);
}

.skill:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media (max-width: 1350px) {
  .skills {
    margin-top: 5rem;
  }
  .skills-bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media (max-width: 992px) {
  .skills-bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 768px) {
  .skills-bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.top-link {
  right: 30px;
  bottom: 30px;
  position: fixed;
  background-color: var(--primaryblue);
  color: var(--body);
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 5px;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
  opacity: 0;
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
  border: none;
  cursor: default;
  z-index: 9999;
}

.fa-angle {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.show-toplink {
  right: 30px;
  bottom: 30px;
  position: fixed;
  background-color: var(--primaryblue);
  color: var(--body);
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 5px;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
  opacity: 1;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.projects .projects-text h3 {
  font-size: 1rem;
  font-weight: 800;
}

.projects .projects-text h1 {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  color: var(--primaryblue);
  margin-top: 30px;
}

.projects .projects-text p {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  color: var(--gray);
  font-weight: 900;
}

.projects .projects-container {
  height: auto;
  margin-top: 3rem;
}

.projects .projects-container .underline {
  height: 3px;
  background-color: var(--linkHover);
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 3rem;
  opacity: 0.5;
  -webkit-box-shadow: -3px 4px 8px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -3px 4px 8px 0px rgba(0, 0, 0, 0.75);
}

.projects .projects-container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
}

.projects .projects-container .project .project-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projects .projects-container .project .project-left img {
  width: 100%;
  height: 80%;
}

.projects .projects-container .project .project-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 3rem;
}

.projects .projects-container .project .project-right .one {
  color: var(--gray);
  font-size: 3rem;
}

.projects .projects-container .project .project-right h1 {
  color: var(--primaryblue);
  margin-top: 14px;
  font-weight: 800;
  font-size: 2.5rem;
}

.projects .projects-container .project .project-right p {
  margin-top: 1.2rem;
  font-size: 1rem;
  color: var(--gray);
  font-weight: 900;
}

.projects .projects-container .project .project-right .tools-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  margin-right: 6rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .projects-container .project .project-right .tools-container p {
  background-color: var(--gray);
  color: black;
  padding: 10px;
  border-radius: 8px;
}

.projects .projects-container .project .project-right .link-container {
  margin-top: 1.8rem;
}

.projects .projects-container .project .project-right .link-container a {
  margin-right: 2.5rem;
  font-size: 1.3rem;
  color: var(--primaryblue);
}

@media (max-width: 1200px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .project-right {
    margin-top: 5rem;
  }
}

.contact {
  background-color: var(--primaryblue);
  margin: 3rem 0 0 0;
  padding: 4.7rem;
  min-height: 60vh;
}

.contact .mail-btn {
  color: var(--gray);
  font-weight: 600;
}

.contact .mail-btn:hover {
  color: var(--primaryblue);
}

.contact h3 {
  color: var(--body);
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.contact h1 {
  font-size: 2.3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  color: var(--body);
}

.contact p {
  margin-bottom: 2rem !important;
  margin-top: 3rem;
  font-weight: 800;
  font-size: 0.6rem;
}

.contact #copy {
  margin-top: 2rem;
}

@media (max-width: 992px) {
  .contact h3 {
    font-size: 1rem;
  }
  .contact h1 {
    font-size: 2rem;
  }
  .contact p {
    font-size: 0.8rem;
  }
}

footer {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--gray);
}

footer .footer-left {
  font-size: 1.2rem;
  margin-top: 1.3rem;
  font-family: var(--dancingFont);
  font-weight: 700;
}

footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 1.3rem;
}

footer .footer-right a {
  color: var(--body);
  font-size: 1.2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: lowercase;
  font-family: var(--dancingFont);
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */